.box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 10px;
}

.itme{
    display: block;
    width: 50%;
    box-sizing: border-box;
}

h1{
    background-color: rgb(64, 236, 179);
    padding: 20px;
    color: black;
    border-radius: 70px;
    border: 2px solid black;
    text-align: center;
}

.content {
    background-color: goldenrod;
    border: 1px solid black;
    height: 100%;
    padding: 7px;
    border-radius: 70px;
}

h2{
    color: black;
    text-align: center;
    font-weight: bold;
}

h3{
    color: black;
    text-align: center;
}

h4{
    color: darkblue;
    text-align: center;
}

